	<!DOCTYPE html>
	<html>
	<head>
		<title>Homepage</title>
	</head>
	<body>
		  <h1>Homepage for <%=@my_details%></h1>
		  <a href="/My id is <%=post_details[:id]%>/edit">edit</a>
		  <p>My id is <%=@post_details[:title]%></p>
		  <p>My id is <%=@post_details[:body]%></p>
	</body>
	</html>