

{
  div#page {border:1px solid purple;
            width:755px;
            margin:0 auto;
            padding:5px;
            text-align:left;


div# height: 50x500
     text-align:right
<img src="Images/layout2.png"/ height="50" width="500"/>

text-align:right

}
